/* .div1 {
  background-color: "1e1919";
  border-radius: 50%;
}
.div1h2 {
  color: "F7F5F2";
  text-align: "center";
}
.div2 {
  border: 3px;
  border-color: "1e1919";
}
.div3 {
  height: 50%;
  border-color: "1e1919";
}
.div4 {
  color: #000000;
  font-size: medium;
  border-color: "1e1919";
}
.div5 {
  border-color: "1e1919";
}
.div6 {
  border-color: "1e1919";
}
.div7 {
  border-color: "1e1919";
}
.div8 {
  border-color: "1e1919";
}
.div9 {
  border-color: "1e1919";
}
.div10 {
  border-color: #f7f5f2;
}
.div11 {
  border-color: #f7f5f2;
}
.div12 {
  border-color: #f7f5f2;
}
.div13 {
  border-color: #f7f5f2;
}
.div14 {
  border-color: #f7f5f2;
}
.div15 {
  border-color: #f7f5f2;
}
.div16 {
  border-color: #f7f5f2;
}
/* .div17 {
}
.div18 {
}
.div19 {
}
.div20 {
}
.div21 {
}
.di22 {
}
.div23 {
}
.div24 {
}  */
